<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="top-bar">
        <h1 class="UDA">UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="applyFilter()">
          </div>
          <div class="tableWrapper panel panel-default">
            <div>
              <table class="table table-striped table-hover">
                <tr>
                  <th>Code</th>
                  <th>Building Name</th>
                  <th></th>
                </tr>
                <tr class="table-row" ng-click="showDetails(filteredListings.indexOf(object))" ng-repeat="object in filteredListings">
                  <td style="width:10%;">{{ object.code }}</td>
                  <td style="width:80%">{{ object.name }}</td>
                  <td style="width:10%"><a style="cursor:pointer;" ng-click="deleteListing(listings.indexOf(object))">remove</a>
                </tr>
              </table>
            </div>
          </div>
          <div class="panel2 panel-default">
            <div class="panel-body">
              <h2 class="add-header">Add new Building</h2>
              <div class="form-group">
                <label for="addListingFormDataName">Building name</label>
                <input type="text" ng-model="addListingFormData.name" class="form-control" id="addListingFormDataName" placeholder="Enter The Building name in here'">
              </div>
              <div class="form-group">
                <label for="addListingFormDataCode">Building code</label>
                <input type="text" ng-model="addListingFormData.code" class="form-control" id="addListingFormDataCode" placeholder="Enter the Building Code in here">
              </div>
              <div class="form-group">
                <label for="addListingFormDataLatitude">Building latitude</label>
                <input type="text" ng-model="addListingFormData.coordinates.latitude" class="form-control" id="addListingFormDataLatitude" placeholder="Enter the latitude in here">
              </div>
              <div class="form-group">
                <label for="addListingFormDataLongitude">Building longitude</label>
                <input type="text" ng-model="addListingFormData.coordinates.longitude" class="form-control" id="addListingFormDataLongitude" placeholder="Enter the longitude in here">
              </div>
              <div class="form-group">
                <label for="addListingFormDataAddress">Building address</label>
                <input type="text" ng-model="addListingFormData.address" class="form-control" id="addListingFormDataAddress" placeholder="Enter the address in here">
              </div>
              <div class="form-group">
                <input class="btn btn-info" ng-click="addListing()" type="button" value="Add listing">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <div id="jumbotronDisplay">
            <h2 ng-bind="jumbotronlisting.name">Detailed Information</h2>
              <br>
              <h4>Building code: {{jumbotronlisting.code | uppercase}}</h4>
              <br>
              <h5>Building latitude: {{jumbotronlisting.coordinates.latitude}}</h5>
              <h5>Building latitude: {{jumbotronlisting.coordinates.longitude}}</h5>
              <h5>Building address: {{jumbotronlisting.address}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
