<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1 class="UDA">UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!--

                Implement a way to filter through listings using the search bar

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model="searchText" ng-change="applyFilter()">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <tr ng-click="showDetails(filteredListings.indexOf(object))" ng-repeat="object in filteredListings">
                <td style="width:10%;">{{ object.code }}</td>
                <td style="width:80%">{{ object.name }}</td>
                <td style="width:10%"><a style="cursor:pointer;" ng-click="deleteListing(listings.indexOf(object))">remove</a>
              </tr>
            </table>
          </div>
            <h3>Add new Building</h3>
              <div class="form-group">
              </div>
          <!--

              Write an HTML form that adds new listings to the directory

            -->
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <div id="jumbotronDisplay">
            <h2 ng-bind="jumbotronlisting.name">Detailed Information</h2>
              <br>
              <h4>Building code: {{jumbotronlisting.code | uppercase}}</h4>
              <br>
              <h5>Building latitude: {{jumbotronlisting.coordinates.latitude}}</h5>
              <h5>Building latitude: {{jumbotronlisting.coordinates.longitude}}</h5>
              <h5>Building address: {{jumbotronlisting.address}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>
